<launch>
  <arg name="output" default="screen"/>
  
  <node name="tensorrt_yolo" pkg="tensorrt_yolo" type="tensorrt_yolo_node" output="$(arg output)">
      <param name="yolo_onnx_model" value="$(find tensorrt_yolo)/models/yolov7-tiny.onnx" type="str" />
      <param name="class_labels_file" value="$(find tensorrt_yolo)/models/coco_classes.txt" type="str" />

      <param name="device" value="GPU" type="str" />
      <param name="precision" value="FP32" type="str" />
      <param name="allow_gpu_fallback" value="true" type="bool" />


      <param name="image_topic_in" value="/camera/image_raw" type="str" />
      <param name="image_topic_out" value="/camera/image_detections" type="str" />
      <param name="bounding_boxes_topic_out" value="/object_detection/bounding_boxes_2d" type="str" />

      <param name="show_output_image" value="false" type="bool" />
  </node>
</launch>